@page "/After-login"
@inject NavigationManager NavigationManager

<h3>Logged in</h3>

@code {
    [CascadingParameter] public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            
        }
        
        NavigationManager.NavigateTo("/");
    }

}