@page "/recipe-add"

<AuthorizeView Context="authContext">
    <Authorized>
        <EditForm EditContext="@_editContext" 
                  OnInvalidSubmit="SubmitInvalid" 
                  OnValidSubmit="SubmitValid" 
                  FormName="recipe-add-form">
                <DataAnnotationsValidator/> 
                <ValidationSummary/>
                <div class="invalid-feedback">
                    @_saveError
                </div>
                <div class="mb-3">
                    <label
                        asp-for="txtTitle"
                        for="txtTitle"
                        class="form-label">Tytuł</label>
                    <InputText
                        type="text"
                        class="form-control"
                        id="txtTitle"
                        placeholder=""
                        maxlength="400"
                        @bind-Value="Model!.Title"/>
                    <ValidationMessage For="() => Model.Title"/>
                </div>
                <div class="mb-3">
                    <label
                        for="txtTimeToPrepare"
                        class="form-label">Czas</label>
                    <InputText
                        type="text"
                        class="form-control"
                        id="txtTimeToPrepare"
                        placeholder=""
                        maxlength="5"
                        style="width: 100px"
                        @bind-Value="Model!.TimeToPrepare"/>
                    <ValidationMessage For="() => Model.TimeToPrepare"/>
                </div>
                <div class="mb-3">
                    <label
                        for="txtIngredients"
                        class="form-label">Składniki</label>
                    <InputTextArea
                        class="form-control"
                        id="txtIngredients"
                        rows="6"
                        @bind-Value="Model!.Ingredients"/>
                    <ValidationMessage For="() => Model.Ingredients"/>
                </div>
                <div class="mb-3">
                    <label
                        for="txtSteps"
                        class="form-label">Co robić</label>
                    <InputTextArea
                        class="form-control"
                        id="txtSteps"
                        rows="6"
                        @bind-Value="Model!.Steps"/>
                    <ValidationMessage For="() => Model.Steps"/>
                </div>
                <div class="mb-3">
                    <label
                        for="txtImageUrl"
                        class="form-label">Link do obrazka (opcjonalnie)</label>
                    <InputText
                        type="text"
                        class="form-control"
                        id="txtImageUrl"
                        placeholder=""
                        maxlength="400"
                        @bind-Value="Model!.ImageUrl"/>
                    <ValidationMessage For="() => Model.ImageUrl"/>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-success ">Zapisz
                </button>
                
            </EditForm>
    </Authorized>
</AuthorizeView>
