@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IRecipesReadRepo RecipesRepo
@attribute [StreamRendering]

<PageTitle>Cooking Frog</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <p>Musisz się zalogować, by zobaczyć przepisy.</p>
    </NotAuthorized>
    <Authorized>
        @if (_recipes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <QuickGrid 
                Items="_recipes" 
                Class="table table-dark table-striped">
                <TemplateColumn Context="summary">
                    <NavLink class="nav-link" href="@("recipe/" + summary.Guid)">
                        @summary.Summary
                    </NavLink>
                </TemplateColumn>
            </QuickGrid>
        }
    </Authorized>
</AuthorizeView>
