@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Cooking Frog</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <div class="alert alert-primary" role="alert">
            <p>Musisz się zalogować, by zobaczyć przepisy.</p>
        </div>
    </NotAuthorized>
    <Authorized>
        <RecipeList 
            Recipes="_recipes"
            OnSearch="SearchRecipes"/>
    </Authorized>
</AuthorizeView>
