@page "/"
@using CookingFrog.Domain
@inject IRecipesReadRepo RecipesRepo
@attribute [StreamRendering]

<PageTitle>Cooking Frog</PageTitle>

<h2>Przepisy</h2>

<AuthorizeView>
    <NotAuthorized>
        <p>Musisz się zalogować, by zobaczyć przepisy.</p>
    </NotAuthorized>
    <Authorized>
        @if (recipes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var recipe in recipes)
                {
                    <li>
                        <NavLink class="nav-link" href="@("recipe/" + recipe.Guid)">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @recipe.Summary
                        </NavLink>
                    </li>
                }
            </ul>
        }
    </Authorized>
</AuthorizeView>
