@page "/recipe/{Guid}"

@attribute [StreamRendering]
@rendermode InteractiveServer

@if(Recipe == null)
{
    <div class="alert alert-info" role="alert">
        Ładowanie strony...
    </div>
}
else
{
    <div class="container" b>
        <div class="row gy-2 g-2">
            <div class="col-sm-12">
                <TitleEdit Title="@Recipe.Summary" 
                           UpdateTitleClicked="UpdateSummary"/>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Składniki</h5>
                            @foreach (var ingredient in Recipe.Ingredients)
                            {
                                <IngredientEdit 
                                    Ingredient="ingredient" 
                                    UpdateClicked="UpdateIngredient"/>
                            }
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-2 g-2">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Co robić</h5>
                        @{ var stepIndex = 0; }
                        @foreach (var step in Recipe.Steps)
                        {
                            <StepEdit StepIndex="stepIndex" 
                                      Description="@step.Description"
                                      UpdateClicked="UpdateStep"/>
                            { stepIndex++; }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}