@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IRecipesReadRepo RecipesRepo
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Cooking Frog</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <div class="alert alert-primary" role="alert">
            <p>Musisz się zalogować, by zobaczyć przepisy.</p>
        </div>
    </NotAuthorized>
    <Authorized>
        @if (_recipes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <Search SearchCalled="SearchRecipes" />
            <QuickGrid 
                Items="_recipes" 
                Class="table table-borderless">
                <TemplateColumn Context="summary">

                    <div class="card text-dark bg-light mb-3">
                    <div class="card-header">
                        <NavLink class="nav-link" href="@("recipe/" + summary.Guid)">
                            @summary.Summary
                        </NavLink>
                    </div>
                        @* <div class="card-body"> *@
                        @*     <h5 class="card-title">I</h5> *@
                        @*     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
                        @* </div> *@
                    </div>
                    
                </TemplateColumn>
            </QuickGrid>
        }
    </Authorized>
</AuthorizeView>
