<div class="mb-3">
    <InputNumber 
        class="form-control form-control-sm" 
        TValue="decimal"
        Value="_updatedQuantity"
        ValueExpression="() => _updatedQuantity"
        ValueChanged="async (value) => { await ChangeValue(value); }" />
</div>