
<div class="mb-3">
    <label class="form-label">Ilość</label>
    <InputNumber class="form-control form-control-sm" @bind-value="Quantity" />
</div>


@code {
    [Parameter]
    public decimal? Quantity { get; set; }
}