@{
    var quantityAsString = Quantity.ToString();
}

@if (quantityAsString != string.Empty)
{
    <text>&nbsp;</text>
    <span class="badge rounded-pill bg-primary align-content-end">@quantityAsString</span>
}