<div class="mb-3">
    <InputNumber 
        class="form-control form-control-sm" 
        TValue="decimal"
        Value="_updatedQuantity"
        ValueExpression="() => _updatedQuantity"
        ValueChanged="async (value) => { await ChangeValue(value); }" />
</div>

@code {
    [Parameter]
    public decimal? Quantity { get; set; }

    [Parameter] 
    public EventCallback<decimal> UpdateClicked { get; set; }

    public async Task ChangeValue(decimal value)
    {
        await UpdateClicked.InvokeAsync(value);
        _updatedQuantity = value;
    }
    
    private decimal _updatedQuantity;

    protected override void OnInitialized()
    {
        if (Quantity != null)
        {
            _updatedQuantity = Quantity.Value;
        }
    }
}