@using Microsoft.AspNetCore.Components.QuickGrid
@using CookingFrog.WebUI.Client.Components

@* <ComponentStateDemo /> *@

@if (Recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Search SearchCalled="SearchRecipes"/>
    <QuickGrid
        Items="Recipes"
        Class="table table-borderless">
        <TemplateColumn Context="summary">

            <div class="card text-dark bg-light mb-3">
                <div class="card-header">
                    <NavLink class="nav-link" href="@("recipe/" + summary.Guid)">
                        @summary.Summary
                    </NavLink>
                </div>
            </div>

        </TemplateColumn>
    </QuickGrid>
}