<form class="d-flex">
    <input class="form-control me-2" 
           type="search" 
           placeholder="Szukaj"
           @bind="_searchTerm"
           aria-label="Search">
    <button class="btn btn-outline-success"
            type="submit"
            @onclick="() => { SearchService.NotifySearch(_searchTerm); }">
        Szukaj
    </button>
</form>

@code {

    private string _searchTerm = "";
    
    [Inject]
    public SearchService SearchService { get; set; }
}