
<InputText class="form-control me-2"
           type="search"
           placeholder="Szukaj"
           @bind-value="_searchTerm"
           aria-label="Search"/>
<button class="btn btn-primary"
        type="submit"
        @onclick="async () => { await SearchCalled.InvokeAsync(_searchTerm); }">
    Szukaj
</button>