
<InputText class="form-control me-2"
           type="search"
           placeholder="Szukaj"
           @bind-value="SearchTerm"
           aria-label="Search"/>
<button class="btn btn-outline-success"
        type="submit">
    Szukaj
</button>


@code {

    [SupplyParameterFromForm]
    private string? SearchTerm { get; set; }

    private void OnSearch()
    {
        
    }
}