<div style="margin: 2px; padding: 5px">
<div class="row">
    <div class="col">
        <InputText class="form-control me-2"
                   type="search"
                   placeholder="Szukaj"
                   @bind-value="_searchTerm"
                   aria-label="Search"/>
    </div>
    <div class="col">
        <button class="btn btn-success"
                type="submit"
                @onclick="async () => { await SearchCalled.InvokeAsync(_searchTerm); }">
            Szukaj
        </button>
    </div>
</div>
</div>
