@using CookingFrog.WebUI.Components.Models

@if (_isEdit)
{
    <div class="mb-3">
    <InputTextArea
        class="form-control"
        id="txtSteps"
        rows="3"
        @bind-Value="_editedStep"/>
    </div>
    <div class="mb-3">
        <button
            type="button"
            class="btn btn-sm"
            @onclick="@(async () =>
                      {
                          await UpdateClicked.InvokeAsync(new StepUpdateModel(_editedStep, StepIndex));
                          _isEdit = false;
                      })">
            ✅
        </button>
        <button
            type="button"
            class="btn btn-sm"
            @onclick="@(() => { _isEdit = false; })">
            ❌
        </button>
    </div>
}
else
{
    <div class="input-group mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="step@(StepIndex)">
            <label class="form-check-label" for="step@(StepIndex)">
                @Description
            </label>
        </div>
        <button type="button"
                class="btn btn-sm"
                @onclick="Edit">
            🖊️
        </button>
    </div>
    
}


@code {
    [Parameter]
    public int StepIndex { get; set; }

    [Parameter] 
    public string Description { get; set; } = string.Empty;

    [Parameter] 
    public EventCallback<StepUpdateModel> UpdateClicked { get; set; }
    
    private bool _isEdit;

    private string _editedStep = string.Empty;

    protected override void OnInitialized()
    {
        _editedStep = Description;
    }

    private void Edit()
    {
        _isEdit = true;
    }
}