@using CookingFrog.WebUI.Components.Models
<div class="modal fade" tabindex="-1" id="addStepModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj krok</h5>
                <button type="button" class="btn-close" 
                        data-bs-dismiss="modal" 
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <InputTextArea
                            @bind-value="_step"
                            class="form-control form-control-sm"
                            rows="6"/>
                    </div>
                    <div class="mb-3">
                        <InputNumber
                            class="form-control form-control-sm"
                            TValue="int?"
                            Value="_index"
                            
                            ValueExpression="() => _index"
                            ValueChanged="value => { ChangeValue(value); }" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Zamknij
                </button>
                <button type="button"
                        class="btn btn-success"
                        @onclick="@(async () =>
                                  {
                                      await JsRuntime.InvokeVoidAsync("closeAddStepBootstrapModal");
                                      await AddClicked.InvokeAsync(new AddStepModel(_index, _step));
                                  })">
                    Zapisz
                </button>
            </div>
        </div>    
    </div>
</div>