<li class="list-group-item">
    @if (_isEditMode)
    {
        <InputTextArea
            class="form-control"
            id="txtSteps"
            rows="6"
            @bind-Value="_editedStep"/>
    }
    else
    {
        <div class="input-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="step@(StepIndex)">
                <label class="form-check-label" for="step@(StepIndex)">
                    @Description
                </label>
            </div>
            <button type="button"
                    class="btn btn-sm btn-light"
                    @onclick="Edit">🖊️</button>
        </div>
        
    }
</li>

@code {
    [Parameter]
    public int StepIndex { get; set; }
    
    [Parameter]
    public string Description { get; set; }

    private bool _isEditMode;

    private string _editedStep;

    protected override void OnInitialized()
    {
        _editedStep = Description;
    }

    private void Edit()
    {
        _isEditMode = true;
    }
}