@if (_isSummaryEditMode == false)
{
    <h2 @onclick="SummaryEdit">@Title</h2>
}
else
{
    <div class="mb-3">
        <InputText
            type="text"
            class="form-control"
            id="txtTitle"
            placeholder=""
            maxlength="400"
            @bind-Value="@_recipeSummaryForEdit"/>
    </div>
    <div class="mb-3">
        <button type="button"
                class="btn btn-light btn-sm"
                @onclick="@(async () =>
                          {
                              await UpdateTitleClicked.InvokeAsync(_recipeSummaryForEdit);
                              _isSummaryEditMode = false;
                          })">
            Zapisz
        </button>
        <button type="button"
                class="btn btn-light btn-sm"
                @onclick="() => { _isSummaryEditMode = false; }">
            Anuluj
        </button>
    </div>
}

@code {
    [Parameter] 
    public string Title { get; set; } = string.Empty;
    
    [Parameter]
    public EventCallback<string> UpdateTitleClicked { get; set; }
    
    private bool _isSummaryEditMode;

    private string _recipeSummaryForEdit = string.Empty;

    protected override void OnInitialized()
    {
        _recipeSummaryForEdit = Title;
    }

    private void SummaryEdit()
    {
        _isSummaryEditMode = true;
    }
}