@using CookingFrog.WebUI.Authorization
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-success font-monospace" href="">cooking fr🐸g</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <AuthorizeView>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="login">
                                <span class="bi bg-info-subtle font-monospace" aria-hidden="true"></span> Log in
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>                <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-link" href="recipe-add">
                                <span class="bi bg-info-subtle" aria-hidden="true"></span> Dodaj
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </li>
                <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-link" href="image-upload">
                                <span class="bi bi-image" aria-hidden="true"></span> Upload Image
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </li>
            </ul>

            <AuthorizeView>
                <Authorized>
                    <p class="navbar-text">@context.User.Identity!.Name (@context.User.GetEmail()) </p>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>
